@import '../variables';

$button-primary-bg: $primary-color;
$button-primary-bg-hover: darken($color: $primary-color, $amount: 10);

.button {
    padding: 1rem;
    border: 1px solid $primary-color;
    transition: background-color 0.15s;

    &.rounded {
        border-radius: 5px;
    }

    &:hover {
        background-color: $primary-color;
        cursor: pointer;
        user-select: none;
    }

    &.primary {
        background-color: $primary-color;

        &:hover {
            background-color: $button-primary-bg-hover;
        }
    }
}
